<div>

    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe?.imagePath" alt="" class="image-responsive" width="150">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>{{recipe?.name}}</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">

                <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Recipe <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a (click)="addToShoppingList()" style="cursor: pointer;">To Shopping list</a></li>
                    <li><a style="cursor: pointer;">Edit Recipe</a></li>
                    <li><a style="cursor: pointer;">Delete Recipe</a></li>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <p>{{recipe?.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe?.ingredients">
                    {{ingredient.name}} - {{ingredient.amount}}
                </li>
            </ul>
        </div>
    </div>

</div>