<div class="wrapper">
    <div class="title">
        Custome Select Box
    </div>
    <div class="select_wrap" [ngClass]="{'active': showOptions}">
        <ul class="default_option">
            <li (click)="toggleDropdown()">
                <div class="option pizza">
                    
                    <p>{{selected}}</p>
                </div>
            </li>
        </ul>
        <ul class="select_ul">
            <li (click)="onSelectValue('Burger')">
                <div class="option burger">
                    
                    <p>Burger</p>
                </div>
            </li>
            <li (click)="onSelectValue('Ice Cream')">
                <div class="option ice">
                    
                    <p>Ice cream</p>
                </div>
            </li>
            <li (click)="onSelectValue('Fried Potatoes')">
                <div class="option fries">
                    
                    <p>Fried Potatos</p>
                </div>
            </li>
        </ul>
    </div>
</div>
